<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:18:07</td>   <td>0</td> <td title="&gt;&gt;TestUtil.loggigng()[pri:0, instance:BE_UserJourney_01_GuestUser.BE_LaunchAPI_CountryList_Test@4f2b503c]">&gt;&gt;loggigng</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:18:09</td>   <td>1698</td> <td title="&gt;&gt;TestUtil.setUp()[pri:0, instance:BE_UserJourney_01_GuestUser.BE_LaunchAPI_CountryList_Test@4f2b503c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="ccb269">  <td>21/12/03 15:18:10</td>   <td>3250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BE_LaunchAPI_CountryList_Test.LaunchAPI_CountryList(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_LaunchAPI_CountryList_Test@4f2b503c]">LaunchAPI_CountryList</td> 
  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:18:22</td>   <td>15049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtil.getResult(org.testng.ITestResult)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_LaunchAPI_CountryList_Test@4f2b503c]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8764ef">  <td>21/12/03 15:18:22</td>   <td>15144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BE_GetLang_Test.b2bapi_getlang(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_GetLang_Test@bae7dc0]">b2bapi_getlang</td> 
  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:18:31</td>   <td>24414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtil.getResult(org.testng.ITestResult)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_GetLang_Test@bae7dc0]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="b6aecc">  <td>21/12/03 15:18:31</td>   <td>24492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BE_LaunchAPI_Launch_Test.launchapi_Launch(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_LaunchAPI_Launch_Test@209da20d]">launchapi_Launch</td> 
  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:18:43</td>   <td>36128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtil.getResult(org.testng.ITestResult)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_LaunchAPI_Launch_Test@209da20d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8a8276">  <td>21/12/03 15:18:43</td>   <td>36352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BE_LaunchAPI_PlatformTokens_Test.launchapi_PlatformTokens(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_LaunchAPI_PlatformTokens_Test@e15b7e8]">launchapi_PlatformTokens</td> 
  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:19:14</td>   <td>67132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtil.getResult(org.testng.ITestResult)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_LaunchAPI_PlatformTokens_Test@e15b7e8]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="9d9b6b">  <td>21/12/03 15:19:14</td>   <td>67203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BE_Settings_GetSettings_Test.userapi_settings_getsettings(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_Settings_GetSettings_Test@1b2abca6]">userapi_settings_getsettings</td> 
  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:19:37</td>   <td>90236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtil.getResult(org.testng.ITestResult)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_Settings_GetSettings_Test@1b2abca6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="d8a07f">  <td>21/12/03 15:19:37</td>   <td>90300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BE_Content_CollectionAPI_Test.gwapi_content_collectionapi(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_Content_CollectionAPI_Test@6392827e]">gwapi_content_collectionapi</td> 
  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:20:04</td>   <td>117066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtil.getResult(org.testng.ITestResult)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_Content_CollectionAPI_Test@6392827e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="bea1a6">  <td>21/12/03 15:20:04</td>   <td>117121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BE_Content_GetContent_Search_Test.gwapi_content_getcontent_search(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_Content_GetContent_Search_Test@2ed2d9cb]">gwapi_content_getcontent_search</td> 
  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:20:14</td>   <td>126815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtil.getResult(org.testng.ITestResult)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_Content_GetContent_Search_Test@2ed2d9cb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="66f1f5">  <td>21/12/03 15:20:14</td>   <td>126887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BE_SinglePlaybackGetDetails_Test.singleplaybackapi_singleplaybackgetdetails(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_SinglePlaybackGetDetails_Test@d5b810e]">singleplaybackapi_singleplaybackgetdetails</td> 
  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:20:22</td>   <td>134586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtil.getResult(org.testng.ITestResult)[pri:0, instance:BE_UserJourney_01_GuestUser.BE_SinglePlaybackGetDetails_Test@d5b810e]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:20:22</td>   <td>134608</td> <td>&nbsp;</td><td title="&lt;&lt;TestUtil.asserterrors()[pri:0, instance:BE_UserJourney_01_GuestUser.BE_LaunchAPI_CountryList_Test@4f2b503c]">&lt;&lt;asserterrors</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
<tr bgcolor="8c9b9d">  <td>21/12/03 15:20:22</td>   <td>134723</td> <td title="&lt;&lt;TestUtil.tearDown()[pri:0, instance:BE_UserJourney_01_GuestUser.BE_LaunchAPI_CountryList_Test@4f2b503c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1466785259</td>   <td></td> </tr>
</table>
